body{
	background-color:gainsboro;
	color:#555;
    font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:1.6em;
	margin:0;
}

.container {
	width: 90%;
    overflow:hidden;
	display:grid;
    margin:auto;
}

#main-header{
	background-color:rgb(34, 34, 34);
	color:white;
	padding-left: 200px;
	overflow: hidden;
}

#nav-bar{
	color:white;
	float: top;
	background-color: coral;
	border-bottom: black 3px solid;
	overflow: hidden;
}

#nav-bar ul {
	list-style: none;
	float: top right;
	padding-left: 200px;
}

#nav-bar li{
	display:inline;
	padding:15px;	
}

#nav-bar a{
	color: lightgray;
	text-decoration: none;	
}

#main-paragraph{
	background-color: lightseagreen;
	color :black;
	padding: 1%;
	width: 280px;
	border-width: 1%;
	border-color: black;
	border-style: solid;
	text-align: center;
	float: left;
	margin: 40px;
}

#main-paragraph h4 {
	font-family: arial, Helvetica, sans-serif;
}

#second-paragraph{
	background-color: rgb(255, 99, 72);
	color: black;
	border-width: 1%;
	border-color: black;
	border-style: solid;
	padding: 2px;
	width: 280px;
	float: right;
	margin: 40px;
}

#third-para{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 570px;
	margin-left: 30px;
	text-align: center;
	color: black;
}

#footer {
	background-color: rgb(37, 37, 37);
	text-align: center;
	margin-top: 50em;
	overflow: hidden;
}